/build
/out
/.gradle/6.8
/.gradle/buildOutputCleanup
/.gradle/checksums
/.gradle/configuration-cache
/.gradle/vcs-1
/gradle
/target
*.iml
/.idea
/history
/drivers
/.classpath
/.project
/.settings
/bin/
